H1
{
    font-family: arial !important;
}

H2
{
    font-family: arial !important;
}

H3
{
    font-family: arial !important;
}

H4
{
    font-family: arial !important;
}

H5
{
    font-family: arial !important;
}

p
{
   font-family: arial !important; 
}

li
{
    font-family: arial !important;
}

.navli1:hover
{
    background-color: #005A5C;
}

.navli2:hover
{
    background-color: #005A5C;
}
.navli3:hover
{
    background-color: #005A5C;
}
.navli4:hover
{
    background-color: #005A5C;
}

.searchbttn:hover
{
    background-color: #005A5C;
}


.wcag1
{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    background-color: lightgrey;
    border-radius: 2em;
    border: 3px solid black;
}


#skipping
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skipping:focus
{
position:static;
width:auto;
height:auto;
}

.thankbttn
{
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    color: white
}

.desk-cont
{
    all: initial;
}

.topicsec
{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 77%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}

@media only screen and (max-width: 1812px) 
{
    .awslogo
{
    float: left;
    height: 60px;
    display: block;
}

.nav
{
    width: 100%;
    height: 75px;

    text-decoration: none;
    font-family: arial;
}

.search-wrapper
{
    height: 100%;
}

.navli1
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    margin-left: 2%;
    color: white;
    
}


.navli2
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli3
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli4
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.desktopsearch
{
    display: block;
    height: 4.7em;
}

.mobilesearch
{
    display: none;
}

.search
{
    float: left;
    width: 20%;
    height: 52%;
}

.searchbttn
{
    float: left;
    width: 8%;
    height: 60%;
    border: 1.5px solid black;
    background-color: #007A7C;
    color: white;
}

.section
{
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}

.acctfrm
{
    width: 58%;
    margin-top: 130px;
    margin-left: 20%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: #E3E3E3;
}

.login
{
    width: 50%;
    float: left;
    
}

.register
{
    width: 49.5%;
    float: left;
    border-left: solid black 2px;
    
}

.acctlbl
{
    width: 70%;
    padding: 1%;
    border-radius: 0.3em;
    float: left;
    margin-bottom: 5%;
    margin-left: 15%;
    border: solid black 1px;
    
}

.acctlbl :focus
{
    border: 3px solid #555;
}

.luser
{
  width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.lpass
{
     width: 72%;
    font-family: arial;
    float: left;
    margin-left: 15%;
}

.forgetlink
{
    text-decoration: none;
}

.forget
{
    width: 72%;
    margin-left: 15%;
    color: black;
}



.forget:hover
{
    text-decoration: underline;
    
}

.logbttn
{
    width: 30%;
    height: 35px;
    font-family: arial;
    float: left;
    margin-left: 35%;
    background-color: #007A7C;
    color: white;
    margin-top: 20%;
    border: solid black 1px;
}

.logbttn:hover
{
    background-color: #005A5C;
}

.Name
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.Email
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.ruser
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.rpass
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.regbttn
{
    width: 30%;
    height: 35px;
    font-family: arial;
    float: left;
    margin-left: 35%;
    background-color: #007A7C;
    color: white;
    border: solid black 1px;
}

.regbttn:hover
{
    background-color: #005A5C;
}

.Hlog
{
  margin-left: 15%;  
}

.Hreg
{
  margin-left: 15%;  
}


.mob-cont
{
    display: none;
}

.topiclinksone
{
    float: left;
    width: 24.8%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinksone a
{
    color: black;
}

.topiclinkstwo
{
    float: left;
    width: 24.8%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinkstwo a
{
    color: black;
}

.topiclinksthree
{
    float: left;
    width: 24.8%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinksthree a
{
    color: black;
}

.topiclinksfour
{
    float: left;
    width: 24.8%;
    text-align: center;
}

.topiclinksfour a
{
    color: black;
}


}

@media only screen and (min-width: 1813px)
{
.awslogo
{
    float: left;
    height: 75px;
    display: block;
}

.nav
{
    width: 100%;
    height: 75px;

    text-decoration: none;
    font-family: arial;
}

.search-wrapper
{
    height: 100%;
}

.navli1
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    margin-left: 2%;
    color: white;
}

.navli2
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli3
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli4
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.desktopsearch
{
    display: block;
    height: 4.7em;
}

.mobilesearch
{
    display: none;
}

.search
{
    float: left;
    width: 20.5%;
    height: 50%;
}

.searchbttn
{
    float: left;
    width: 8%;
    height: 60%;
    border: 1.5px solid black;
    background-color: #007A7C;
    color: white;
}

.section
{
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}

.acctfrm
{
    width: 58%;
    margin-top: 130px;
    margin-left: 20%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: #E3E3E3;
}

.login
{
    width: 50%;
    float: left;
    
}

.register
{
    width: 49.5%;
    float: left;
    border-left: solid black 2px;
    
}

.acctlbl
{
    width: 70%;
    padding: 1%;
    border-radius: 0.3em;
    float: left;
    margin-bottom: 5%;
    margin-left: 15%;
    border: solid black 1px;
    
}

.acctlbl :focus
{
    border: 3px solid #555;
}

.luser
{
  width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.lpass
{
     width: 72%;
    font-family: arial;
    float: left;
    margin-left: 15%;
}

.forgetlink
{
    text-decoration: none;
}

.forget
{
    width: 72%;
    margin-left: 15%;
    color: black;
}

.forget:hover
{
    text-decoration: underline;
    
}

.logbttn
{
    width: 30%;
    height: 35px;
    font-family: arial;
    float: left;
    margin-left: 35%;
    background-color: #007A7C;
    color: white;
    margin-top: 20%;
    border: solid black 1px;
}

.logbttn:hover
{
    background-color: #005A5C;
}

.Name
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.Email
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.ruser
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.rpass
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.regbttn
{
    width: 30%;
    height: 35px;
    font-family: arial;
    float: left;
    margin-left: 35%;
    background-color: #007A7C;
    color: white;
    border: solid black 1px;
}

.regbttn:hover
{
    background-color: #005A5C;
}

.Hlog
{
  margin-left: 15%;  
}

.Hreg
{
  margin-left: 15%;  
}
.mob-cont
{
    display: none;
}

.topiclinksone
{
    float: left;
    width: 24.8%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinksone a
{
    color: black;
}

.topiclinkstwo
{
    float: left;
    width: 24.8%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinkstwo a
{
    color: black;
}

.topiclinksthree
{
    float: left;
    width: 24.8%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinksthree a
{
    color: black;
}

.topiclinksfour
{
    float: left;
    width: 24.8%;
    text-align: center;
}

.topiclinksfour a
{
    color: black;
}

}

@media only screen and (max-width: 1301px)
{
      .awslogo
{
    float: left;
    height: 50px;
    display: block;
}

.nav
{
    width: 100%;
    height: 75px;

    text-decoration: none;
    font-family: arial;
}

.navli1
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    margin-left: 2%;
    color: white;
}

.navli2
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli3
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli4
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 15%;
    height: 60%;
    color: white;
    border-left: none;
}

.desktopsearch
{
    display: block;
    height: 4.7em;
}

.mobilesearch
{
    display: none;
}

.search
{
    float: left;
    width: 20%;
    height: 52%;
}

.searchbttn
{
    float: left;
    width: 8%;
    height: 60%;
    border: 1.5px solid black;
    background-color: #007A7C;
    color: white;
}

.section
{
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}  

.mob-cont
{
    display: none;
}

.topiclinksone
{
    float: left;
    width: 24.8%;
    height: 100%;
    text-align: center;
    border-right: #000000 solid 2px;
}

.topiclinksone a
{
    color: black;
}

.topiclinkstwo
{
    float: left;
    width: 24.8%;
    height: 100%;
    text-align: center;
    border-right: #000000 solid 2px;
}

.topiclinkstwo a
{
    color: black;
}

.topiclinksthree
{
    float: left;
    width: 24.8%;
    height: 100%;
    text-align: center;
    border-right: #000000 solid 2px;
}

.topiclinksthree a
{
    color: black;
}

.topiclinksfour
{
    float: left;
    height: 100%;
    text-align: center;
    width: 24.8%;
}

.topiclinksfour a
{
    color: black;
}

} 

@media only screen and (max-width: 1093px)
{
      .awslogo
{
    float: left;
    height: 50px;
    display: block;
}

.nav
{
    width: 100%;
    height: 75px;

    text-decoration: none;
    font-family: arial;
}

.navli1
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 14%;
    height: 60%;
    margin-left: 2%;
    color: white;
}

.navli2
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 14%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli3
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 14%;
    height: 60%;
   color: white;
    border-left: none;
}

.navli4
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 14%;
    height: 60%;
    color: white;
    border-left: none;
}

.iframe_test 
{
    position: relative;
    padding-bottom: 60%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.desktopsearch
{
    display: block;
    height: 4.7em;
}

.mobilesearch
{
    display: none;
}

.search
{
    float: left;
    width: 21%;
    height: 52%;
}

.searchbttn
{
    float: left;
    width: 8%;
    height: 60%;
    border: 1.5px solid black;
    background-color: #007A7C;
    color: white;
}

.section
{
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}  

.mob-cont
{
    display: none;
}

.topiclinksone
{
    float: left;
    width: 24.8%;
    height: 100%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinksone a
{
    color: black;
}

.topiclinkstwo
{
    float: left;
    width: 24.8%;
    height: 100%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinkstwo a
{
    color: black;
}

.topiclinksthree
{
    float: left;
    width: 24.8%;
    height: 100%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinksthree a
{
    color: black;
}

.topiclinksfour
{
    float: left;
    width: 24.8%;
    height: 100%;
    text-align: center;
}
.topiclinksfour a
{
    color: black;
}

.topicsec {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 87%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}

} 

@media only screen and (max-width: 845px)
{
      .awslogo
{
    float: left;
    height: 50px;
    display: block;
}

.nav
{
    width: 100%;
    height: 75px;

    text-decoration: none;
    font-family: arial;
}

.navli1
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 13%;
    height: 60%;
    margin-left: 2%;
    color: white;
}

.navli2
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 13%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli3
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 13%;
    height: 60%;
    color: white;
    border-left: none;
}

.navli4
{
    list-style-type: none;
    border: 1.5px solid black;
    line-height: 2.5;
    background-color: #007A7C;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 13%;
    height: 60%;
    color: white;
    border-left: none;
}

.desktopsearch
{
    display: block;
    height: 4.7em;
}

.mobilesearch
{
    display: none;
}

.search
{
    float: left;
    width: 20%;
    height: 52%;
}

.searchbttn
{
    float: left;
    width: 10%;
    height: 60%;
    border: 1.5px solid black;
    background-color: #007A7C;
    color: white;
}

.section
{
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}  

.iframe_test 
{
    position: relative;
    padding-bottom: 60%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.mob1
{
    width: 10%;
    height: 60px;
    display: block;
    border: 1.5px solid black;
}

.mob2
{
    width: 10%;
    height: 60px;
    display: block;
    border: 1.5px solid black;
}

.mob3
{
    width: 10%;
    height: 60px;
    display: block;
    border: 1.5px solid black;
}

.mob4
{
    width: 10%;
    height: 60px;
    display: block;
    border: 1.5px solid black;
}

.dropdown-contentMob
{
    display: block;
}

.topiclinksone
{
    float: left;
    width: 49.5%;
    height: 100%;
    border-right: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
    text-align: center;
}

.topiclinksone a
{
    color: black;
}

.topiclinkstwo
{
    float: left;
    width: 50%;
    height: 100%;
    border: none;
    border-bottom: #000000 solid 2px;
    text-align: center;
}

.topiclinkstwo a
{
    color: black;
}

.topiclinksthree
{
    float: left;
    width: 49.5%;
    height: 100%;
    border-right: #000000 solid 2px;
    text-align: center;
}

.topiclinksthree a
{
    color: black;
}

.topiclinksfour
{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

.topiclinksfour a
{
    color: black;
}

.topicsec {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 87%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}

}

@media only screen and (max-width: 702px)
{
  .menu-button 
{
  float: left;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  z-index: 11;
}

  .bar1, .bar2, .bar3 
{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 0.5em;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px) ;
  transform: rotate(-45deg) translate(-8px, 7px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

  /************** This is the desktop version *******************/
  
   .awslogo
{
    float: left;
    margin-left: 35%;
    height: 60px;
}
.desk-cont
{
    display: none;
}

.nav
{
    width: 100%;
    height: 75px;

    text-decoration: none;
    font-family: arial;
}

.section
{
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}

.desktopsearch
{
    display: none;
}

.mobilesearch
{
    display: block;
}


.search
{
    margin-top: 1em;
    border: 2px solid black; 
    width: 80%;
    height: 30px; 
    margin-left: 10%;
    float: left;
}

.searchbttn
{
    float: right;
    width: 8%;
    height: 60%;
    color: black;
    border: none;
    background-color: transparent;
    margin-right: 5%;
}

.searchbttn:hover
{
    background-color: transparent;
}

.searchbttn i
{
    margin-top: 5%;
    font-size: 60px;
    color: black;
}

.mob1
{
    margin-top: 3.67em;
    float: left;
    margin-left: 1%;
    position: fixed;
    padding-right: 2%;
    width: 80%;
    font-size: 40px;
    height: 150px;
    display: block;
    z-index: 12;
    border: 1.5px solid black;
    font-family: arial;
    background-color: #007A7C;
    color: white;
}

.mob1:hover
{
    background-color: #005A5C;
}

.mob2
{
    margin-top: 7.4em;
    float: left;
    width: 80%;
    margin-left: 1%;
    padding-right: 2%;
    position: fixed;
    height: 150px;
    z-index: 12;
    font-size: 40px;
    display: block;
    border: 1.5px solid black;
     border-top: none;
     font-family: arial;
     background-color: #007A7C;
    color: white;
}
.mob2:hover
{
    background-color: #005A5C;
}

.mob3
{
    margin-top: 11.16em;
    float: left;
    width: 80%;
    padding-right: 2%;
    margin-left: 1%;
    position: fixed;
    height: 150px;
    font-size: 40px;
    z-index: 12;
    border: 1.5px solid black;
    border-top: none;
    font-family: arial;
    background-color: #007A7C;
    color: white;
}

.mob3:hover
{
    background-color: #005A5C;
}

.mob4
{
    margin-top: 14.9em;
    float: left;
    width: 80%;
    padding-right: 2%;
    margin-left: 1%;
    position: fixed;
    height: 150px;
    z-index: 12;
    font-size: 40px;
    border: 1.5px solid black;
    border-top: none;
    font-family: arial;
    background-color: #007A7C;
    color: white;
}

.mob4:hover
{
    background-color: #005A5C;
}

.mobprofile
{
    margin-top: 75%;
    float: left;
    position: fixed;
    margin-left: 1%;
    padding-right: 2%;
    width: 80%;
    height: 150px;
    z-index: 12;
    font-size: 40px;
    border: 1.5px solid black; 
    font-family: arial;
    background-color: #007A7C;
    color: white;
}

.mobprofile:hover
{
    background-color: #005A5C;
}

.iframe_test
{
    position: relative;
    padding-bottom: 60%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.iframe_test iframe
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#myProgress
{
    margin-top: 10%;
}

/**************quizzes****************/

#quiz-wrap {
  font-family: arial, sans-serif;
}

/* Wrapper of each question */
#quiz-wrap .question {
  padding: 15px;
  margin: 10px;
  margin-left: 18%;
  width: 60%;
  background: #f2f2f2;
  border: 3px solid #ccc;
  border-radius: 10px;
}

/* Question */
#quiz-wrap h1 {
  font-size: 22px;
  margin: 5px 0;
}

/* Options */
#quiz-wrap label {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

/* Submit Button */
#quiz-wrap input[type=submit] {
  background: #972121;
  color: #fff;
  padding: 10px;
  border: 0;
  padding: 10px 20px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 72.5%;
  margin-bottom: 2%;
  font-size: 20px;
}

.acctfrm
{
    width: 78%;
    margin-top: 130px;
    margin-left: 8%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: #E3E3E3;
}

.login
{
    width: 100%;
    float: left;
}

.register
{
    width: 100%;
    float: left;
   border: none;
}

.acctlbl
{
    width: 70%;
    padding: 1%;
    border-radius: 0.3em;
    float: left;
    margin-bottom: 5%;
    margin-left: 15%;
    border: solid black 1px;
    
}

.acctlbl :focus
{
    border: 3px solid #555;
}

.luser
{
  width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.lpass
{
     width: 72%;
    font-family: arial;
    float: left;
    margin-left: 15%;
}

.forgetlink
{
    text-decoration: none;
}

.forget
{
    width: 72%;
    margin-left: 15%;
    color: black;
}



.forget:hover
{
    text-decoration: underline;
    
}

.logbttn
{
    width: 30%;
    height: 35px;
    font-family: arial;
    float: left;
    margin-left: 35%;
    background-color: #007A7C;
    color: white;
    margin-top: 20%;
    border: solid black 1px;
}

.logbttn:hover
{
    background-color: #005A5C;
}

.Name
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.Email
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.ruser
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.rpass
{
   width: 72%;
  font-family: arial; 
  float: left;
  margin-left: 15%;
}

.regbttn
{
    width: 30%;
    height: 35px;
    font-family: arial;
    float: left;
    margin-left: 35%;
    background-color: #007A7C;
    color: white;
    border: solid black 1px;
}

.regbttn:hover
{
    background-color: #005A5C;
}

.Hlog
{
  margin-left: 15%;  
}

.Hreg
{
  margin-left: 15%;  
}

.topiclinksone
{
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.topiclinksone a
{
    color: black;
}

.topiclinkstwo
{
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.topiclinkstwo a
{
    color: black;
}

.topiclinksthree
{
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.topiclinksthree a
{
    color: black;
}

.topiclinksfour
{
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.topiclinksfour a
{
    color: black;
}

}

@media only screen and (max-device-width: 420px)
{
  .menu-button 
{
  float: left;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  z-index: 11;
}

  .bar1, .bar2, .bar3 
{
  width: 70px;
  height: 10px;
  background-color: #333;
  margin: 10px 0;
  margin-top: 10%;
  margin-left: 30%;
  transition: 0.4s;
  border-radius: 0.5em;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-22px, 18px) ;
  transform: rotate(-45deg) translate(-22px, 18px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
  
   .awslogo
{
    float: left;
    margin-left: 40%;
    height: 75px;
}
.desk-cont
{
    display: none;
}

.nav
{
    width: 100%;
    height: 75px;
    text-decoration: none;
    font-family: arial;
}

.section
{
    margin-top: 160px;
    margin-left: 11%;
    margin-right: 10%;
    width: 77%;
    padding: 1%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: darkgrey;
}

.wcag1
{
    margin-top: 12%;
    margin-left: 10%;
    width: 80%;
    background-color: lightgrey;
    border-radius: 2em;
    border: 3px solid black;
}

#myProgress
{
    margin-top: 13%;
}

.desktopsearch
{
    display: none;
}

.mobilesearch
{
    display: block;
}

.search
{
    margin-top: 12%;
    border: 2px solid black;
    width: 80%;
    height: 30px;
    margin-left: -45%;
    font-size: 2em;
}

.searchbttn
{
    float: right;
    width: 8%;
    height: 60%;
    color: black;
    border: none;
    
    background-color: transparent;
}

.searchbttn:hover
{
    background-color: transparent;
}

.searchbttn i
{
    margin-top: 5%;
    font-size: 60px;
    color: black;
}

.mob1
{
    margin-top: 3.67em;
    float: left;
    margin-left: 1%;
    position: fixed;
    padding-right: 2%;
    width: 80%;
    font-size: 40px;
    height: 150px;
    display: block;
    z-index: 12;
    border: 1.5px solid black;
    font-family: arial;
    background-color: #007A7C;
    color: white;
}

.mob1:hover
{
    background-color: #005A5C;
}

.mob2
{
    margin-top: 7.4em;
    float: left;
    width: 80%;
    margin-left: 1%;
    padding-right: 2%;
    position: fixed;
    height: 150px;
    z-index: 12;
    font-size: 40px;
    display: block;
    border: 1.5px solid black;
     border-top: none;
     font-family: arial;
     background-color: #007A7C;
    color: white;
}
.mob2:hover
{
    background-color: #005A5C;
}

.mob3
{
    margin-top: 11.16em;
    float: left;
    width: 80%;
    padding-right: 2%;
    margin-left: 1%;
    position: fixed;
    height: 150px;
    font-size: 40px;
    z-index: 12;
    border: 1.5px solid black;
    border-top: none;
    font-family: arial;
    background-color: #007A7C;
    color: white;
}

.mob3:hover
{
    background-color: #005A5C;
}

.mob4
{
    margin-top: 14.9em;
    float: left;
    width: 80%;
    padding-right: 2%;
    margin-left: 1%;
    position: fixed;
    height: 150px;
    z-index: 12;
    font-size: 40px;
    border: 1.5px solid black;
    border-top: none;
    font-family: arial;
    background-color: #007A7C;
    color: white;
}

.mob4:hover
{
    background-color: #005A5C;
}

.mobprofile
{
    margin-top: 75%;
    float: left;
    position: fixed;
    margin-left: 1%;
    padding-right: 2%;
    width: 80%;
    height: 150px;
    z-index: 12;
    font-size: 40px;
    border: 1.5px solid black; 
    font-family: arial;
    background-color: #007A7C;
    color: white;
}

.mobprofile:hover
{
    background-color: #005A5C;
}



.box-shadow
{
    position:fixed;
    z-index: 10;
    height: 100vh;
    width:100%;
    background-color: rgba(82,82,82,0.4);
    
}

/******search result area****/

.srchHeading
{
    margin-top: 120px;
}

/*****quiz area****/
#quiz-wrap {
  font-family: arial, sans-serif;
}

/* Wrapper of each question */
#quiz-wrap .question {
  padding: 15px;
  margin: 10px;
  margin-left: 18%;
  width: 60%;
  background: #f2f2f2;
  border: 3px solid #ccc;
  border-radius: 10px;
}

/* Question */
#quiz-wrap h1 {
  font-size: 22px;
  margin: 5px 0;
}

/* Options */
#quiz-wrap label {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

/* Submit Button */
#quiz-wrap input[type=submit] {
  background: #972121;
  color: #fff;
  padding: 10px;
  border: 0;
  padding: 10px 20px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 72.5%;
  margin-bottom: 2%;
  font-size: 20px;
}


/*****tutorial areas*****/


.iframe_test
{
    position: relative;
    padding-bottom: 60%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.iframe_test iframe
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}




/*****account area****/

.acctfrm
{
    width: 78%;
    margin-top: 170px;
    margin-left: 10%;
    padding: 1%;
    padding-bottom: 5%;
    position: absolute;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: #E3E3E3;
}

.login
{
    width: 100%;
    float: left;
    padding-bottom: 5%;
}

.register
{
    width: 100%;
    float: left;
   border: none;
   padding-bottom: 5%;
}

.acctlbl
{
    width: 70%;
    padding: 3%;
    border-radius: 0.3em;
    float: left;
    margin-bottom: 5%;
    margin-left: 12%;
    border: solid black 1px;
    
}

.acctlbl :focus
{
    border: 3px solid #555;
}

.luser
{
  width: 72%;
  font-size: 250%;
  font-family: arial; 
  float: left;
  margin-left: 12%;
}

.lpass
{
    width: 72%;
    font-size: 250%;
    font-family: arial;
    float: left;
    margin-left: 12%;
}

.forgetlink
{
    text-decoration: none;
}

.forget
{
    width: 72%;
    font-size: 200%;
    margin-left: 12%;
    color: black;
}

.forget:hover
{
    text-decoration: underline;
    
}

.logbttn
{
    width: 30%;
    height: 55px;
    font-size: 250%;
    font-family: arial;
    float: left;
    margin-left: 35%;
    padding-bottom: 5%;
    background-color: #007A7C;
    color: white;
    margin-top: 10%;
    border: solid black 1px;
}

.logbttn:hover
{
    background-color: #005A5C;
}

.Name
{
  width: 72%;
  font-size: 250%;
  font-family: arial; 
  float: left;
  margin-left: 12%;
}

.Email
{
  width: 72%;
  font-size: 250%;
  font-family: arial; 
  float: left;
  margin-left: 12%;
}

.ruser
{
  width: 72%;
  font-size: 250%;
  font-family: arial; 
  float: left;
  margin-left: 12%;
}

.rpass
{
  width: 72%;
  font-size: 250%;
  font-family: arial; 
  float: left;
  margin-left: 12%;
}

.regbttn
{
    width: 30%;
    height: 55px;
    font-size: 250%;
    margin-top: 10%;
    font-family: arial;
    float: left;
    margin-left: 35%;
    background-color: #007A7C;
    color: white;
    border: solid black 1px;
}

.regbttn:hover
{
    background-color: #005A5C;
}

.Hlog
{
  margin-left: 12%;  
  font-size: 350%;
}

.Hreg
{
  margin-left: 12%; 
  margin-top: 10%;
  font-size: 350%;
}

.topiclinksone
{
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.topiclinksone a
{
    color: black;
    font-size: 2em;
}

.topiclinkstwo
{
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.topiclinkstwo a
{
    color: black;
    font-size: 2em;
}

.topiclinksthree
{
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.topiclinksthree a
{
    color: black;
    font-size: 2em;
}

.topiclinksfour
{
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}
.topiclinksfour a
{
    color: black;
    font-size: 2em;
}

}

.dropdown-content
{
    width: 15%;
    float: left;
    margin-left: 54.5%;
    margin-top: 45px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}
.dropdown-content a
{
    width: 100%;
    float: left;
    height: 45px;
    list-style-type: none;
    line-height: 2.5;
    border-bottom: solid black 1px;
    background-color: #007A7C;
    font-family: arial;
    text-decoration: none;
    text-align: center;
    color: white;
    display:block;
    
}



.heading-tutorials
{
    
    margin-left: 10%;
}

.heading-wcag
{
    margin-top:1%;
    margin-left: 10%;
}
.heading-section
{
    margin-left: 10%;
}

.contentbox1
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.contentbox2
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: darkgrey;
     border: solid black 1px;
}

.textcontainer
{
    padding-left: 15px;
    padding-right: 15px;
}

.contentbox3
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: darkgrey;
    border: solid black 1px;
}

.contentbox31
{
    width: 80%;
    height: 12em;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: darkgrey;
    border: solid black 1px;
}

.contentbox4
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    background-color: darkgrey;
    border: solid black 1px; 
}

.contentbox5
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: darkgrey;
    border: solid black 1px;  
}

.discuss-bttn
{
     width: 15%;
     height: 40px;
     margin-top: 4.5%;
     margin-left: 83.2%;
     margin-bottom: 4%;
     font-family: arial;
     font-size: 1em;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-weight: 300;
     color: white;
     border-color:#000000;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     background-color:#007A7C;
     text-align:center;
     transition: all 0.15s;
}

.discuss-bttn:hover
{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
    background-color:#005A5C;
}

.next-bttn1
{
    width: 10%;
    height: 40px;
    margin-left: 80%;
    font-family: arial;
     font-size: 1em;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-weight: 300;
     color: white;
     border-color:#000000;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     background-color:#007A7C;
     text-align:center;
     transition: all 0.15s;
}

.next-bttn1:hover
{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#000000;
    background-color:#005A5C;
}

.next-bttn
{
    width: 10%;
    height: 40px;
    margin-left: 60%;
    margin-bottom: 2%;
    font-family: arial;
     font-size: 1em;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-weight: 300;
     color: white;
     border-color:#000000;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     background-color:#007A7C;
     text-align:center;
     transition: all 0.15s;
}

.next-bttn:hover
{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#000000;
    background-color:#005A5C;
}

.back-bttn
{
    width: 10%;
    height: 40px;
    margin-left:10%;
    margin-bottom: 2%;
    float: left;
     font-family: arial;
     font-size: 1em;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-weight: 300;
     color:white;
     border-color:#000000;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     background-color:#007A7C;
     text-align:center;
     transition: all 0.15s;
}

.back-bttn:hover
{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#000000;
    background-color:#005A5C; 
}

.back-bttn1
{
    width: 10%;
    height: 40px;
    margin-left:10%;
    float: left;
     font-family: arial;
     font-size: 1em;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-weight: 300;
     color:#000000;
     border-color:#000000;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     background-color:#007A7C;
     text-align:center;
     transition: all 0.15s;
}

.back-bttn1:hover
{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#000000;
    background-color:#005A5C; 
}

#myProgress {
  width: 80%;
  margin-left: 10%;
  background-color: #ddd;
  border-radius: 1em;
  border: solid black 3px;
   
}

#myProgressthanks
{
  width: 80%;
  margin-left: 10%;
  background-color: #ddd;
  border-radius: 1em;
  border: solid black 3px;
}

#myBar {
  height: 30px;
  background: linear-gradient(45deg, #348B7B, #2B8C63, #2E5F3C, #162D1B, #163619, #348B7B, #2B8C63, #2E5F3C, #162D1B, #163619, #348B7B, #2B8C63, #2E5F3C, #162D1B, #163619);
  background-size: 600% 100%;
  animation: gradient 30s linear infinite;
  animation-direction: alternate;
  width: 1%;
 
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 0.81em;
}

#myBarthank {
  height: 30px;
  background: linear-gradient(45deg, #348B7B, #2B8C63, #2E5F3C, #162D1B, #163619, #348B7B, #2B8C63, #2E5F3C, #162D1B, #163619, #348B7B, #2B8C63, #2E5F3C, #162D1B, #163619);
  background-size: 600% 100%;
  animation: gradient 30s linear infinite;
  animation-direction: alternate;
  width: 100%;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 0.81em;
}

@keyframes gradient
{
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.Hedit
{
  margin-left: 12%; 
  margin-top: 6%;
  font-size: 250%;
}

.editName
{
  width: 72%;
  font-size: 150%;
  font-family: arial; 
  float: left;
  margin-left: 12%;
}

.editacctlbl
{
    width: 70%;
    padding: 3%;
    border-radius: 0.3em;
    float: left;
    margin-bottom: 5%;
    margin-left: 12%;
    border: solid black 1px;
}

.editEmail
{
  width: 72%;
  font-size: 150%;
  font-family: arial; 
  float: left;
  margin-left: 12%;
}

.euser
{
  width: 72%;
  font-size: 150%;
  font-family: arial; 
  float: left;
  margin-left: 12%;  
}

.epass
{
  width: 72%;
  font-size: 150%;
  font-family: arial; 
  float: left;
  margin-left: 12%;
}

.editbttn
{
   width: 30%;
    height: 55px;
    font-size: 150%;
    margin-top: 10%;
    font-family: arial;
    float: left;
    margin-left: 35%;
    background-color: #007A7C;
    color: white;
    border: solid black 1px; 
}

.potato
{
    width: 12%;
    z-index: 10;
}


/*********************tutorial/topics page *******************/

.topicheading
{
    margin-left: 45%;
}



/*************** QUIZ CSS **********************/

#quiz-wrap {
  font-family: arial, sans-serif;
}

/* Wrapper of each question */
#quiz-wrap .question {
  padding: 15px;
  margin: 10px;
  margin-left: 18%;
  width: 60%;
  background: #f2f2f2;
  border: 3px solid #ccc;
  border-radius: 10px;
}

/* Question */
#quiz-wrap h1 {
  font-size: 22px;
  margin: 5px 0;
}

/* Options */
#quiz-wrap label {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

/* Submit Button */
#quiz-wrap input[type=submit] {
  background: #972121;
  color: #fff;
  padding: 10px;
  border: 0;
  padding: 10px 20px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 72.5%;
  margin-bottom: 2%;
  font-size: 20px;
}

.stcCont
{
    display: none;
}

.skip
{
    opacity: 0;
}

.skip:focus, .skip:active
{
    width: 20%;
    height:50px;
    opacity: 1;
    border: solid black 2px;
    color: black;
    
}

#kinbttn
{
    width: 20%;
    height:50px;
    opacity: 1;
    color: black;
}

#kinbttn:focus, #kinbttn:active   
{
    width: 20%;
    height:50px;
    opacity: 1;
    border: solid black 2px;
    color: black;
}

#badbttn
{
    width: 20%;
    height:50px;
    opacity: 1;
    color: black;
}

#badbttn:focus, #badbttn:active 
{
    width: 20%;
    height:50px;
    opacity: 1;
    border: solid black 2px;
    color: black;
}

#answerlbl
{
   display: none; 
}

#codelbl
{
    display: none;
}



/*************** 1.1.1 kinaesthetic **********************/

#imagetext
{
    float: left;
    margin-left: 2%;
}

#alt
{
    margin-top: 1em;
    margin-left:1%;
    margin-right:1%;
    float: left;
}

#imagetext2
{
    float: left;
}

#imgcontain
{
    float: left;
    margin-bottom: 1em;
    margin-left: 2%;
    width: 100%;
    
}

.runme
{
    float: right;
    height: 30px;
    width: 5%;
    margin-top: 1em;
    margin-right: 58%;
}

/*************** 1.2.2 kinaesthetic **********************/

#vttText
{
    width: 30%;
    height: 150px;
    margin-left: 2%;
    position: absolute;
}

#saveMe
{
    margin-left: 3.2%;
    margin-top: 15em;
    margin-bottom: 2em;
}

#vttP
{
    margin-left: 3%;
}

/*************** 1.3.5 kinaesthetic **********************/

#goodP
{
    margin-left: 2%;
}

#formKin
{
    margin-left: 2%;
    font-family: arial;
    margin-bottom: 2em;
}

#goodH
{
    margin-left: 2%;
}

#badH
{
    margin-left: 2%;
}

#badP
{
    margin-left: 2%;
}

#badForm
{
    margin-left: 2%;
    font-family: arial;
    margin-bottom: 2em;
}


/*************** 2.1.1 kinaesthetic **********************/

#keyboardH
{
    margin-left: 2%;
}

#activitybtn
{
    margin-left: 2%;
    margin-bottom: 2em;
}

#kinbttn
{
    margin-left: 2%;
}

#kinbttn:focus-visible
{
    outline: 3px solid black;
}


#badbttn
{
    margin-left: 2%;
    margin-bottom: 2em;
}


#badbttn:focus-visible
{
    outline: 3px solid black;
}


/*************** 2.4.1 kinaesthetic **********************/


#skipExample
{
    margin-left: 2%;
}

#activitybtn
{
    margin-left: 2%;
    height: 50px;
}

#skip
{
    font-family: arial;
    font-size: 15px;
    margin-left: 2%;
}

#maincontent
{
    margin-left: 2%;
}

#skipheading
{
    margin-left: 2%;
}

/*************** 2.4.6 kinaesthetic **********************/



#headingtxt
{
    width: 30%;
    height: 130px;
    margin-left: 1%;
    position: absolute;
}

#showMe
{
    margin-left: 3.2%;
    margin-top: 15em;
    margin-bottom: 2em;
}

#answerlbl
{
    margin-top: 10em;
    margin-left: 2%;
}

#activityP
{
    margin-left: 2%;
}

/*************** 3.1.1 kinaesthetic **********************/

.html
{
    margin-left: 2%;
   font-family: arial;
}

#htmlatt
{
     margin-bottom: 2em;
}


/*************** 3.2.3 kinaesthetic **********************/

#consistenttxt
{
    margin-left: 2%;
    width: 45%;
    height: 50px;
}

/*************** 3.3.2 kinaesthetic **********************/


.kname
{
   margin-left: 2%; 
   font-family: arial;
}


#examplename
{
    font-family: arial;
    margin-bottom: 2em;
    margin-top: 2em;
}

#examplename:focus
{
    outline: 2px solid black;
}

.exlabel
{
    margin-left: 2%;
    font-family: arial;
}

#examplelast
{    
    font-family: arial;
    margin-bottom: 2em;
    margin-top: 2em;
}

#examplelast:focus
{
    outline: 2px solid black;
}

#exampleemail
{
    font-family: arial;
    margin-bottom: 2em;
    margin-top: 2em;
}

#exampleemail:focus
{
    outline: 2px solid black;
}

.exInput
{
    font-family: arial;
}


/*************** 4.1.1 kinaesthetic **********************/


#answerlbl
{
    font-family: arial;
    margin-bottom: 2em;
}

#showMee
{
    margin-top: 12em;
    margin-left: 1.6%;
    margin-bottom: 2em;
}

/*************** 4.1.2 kinaesthetic **********************/


#htxt
{
    width: 30%;
    height: 130px;
    margin-left: 1%;
    position: absolute; 
}


#answerMe
{
    margin-left: 1.6%;
    margin-top: 12em;
    margin-bottom: 2em;
}


#codelbl
{
    margin-left: 2%;
    font-family: arial;
}


/****************** comment section ********************/

.commentUser
{
    padding-top: 1em;
    margin-left: 5%;
    border-top: black solid 0.1em;
    margin-top: 1%;
    width: 90%;
    font-size: 1em;
}

.comment
{
    margin-left: 5%;
    width: 90%;
}

.noComment
{
    margin-left: 40%;
}

#commentarea
{
    margin-top: 2%;
    margin-left: 1%;
    width: 97%;
    height: 200px;
   
}




